.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 1.25rem 0;
  background: var(--gray-800);
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.logo {
  height: 40px;
}
